 body{
      background-color:aquamarine;
      color: black;
} 
*{
      margin: 0;
      padding: 0;
}
main{
      
      margin: 0px auto;
}
nav ul{
      display: flex;
      list-style-type: none;
      height: 65px;
      background-color: black;
      color: aliceblue;
      align-items: center;
}
nav ul li{
      padding: 0 12px;
}
.brand img{
      width: 48px;
      padding: 0 8px;
}
.brand{
      display: flex;
      align-items: center;
      font-weight: bolder;
      font-size: 1.3rem;
}
.center{
      background-color: bisque;
}
/* .libery{
      background-color: gray;
      border-radius:12px;
      margin: 23px auto;
      width: 20%;
      min-height: 70vh;
} */
/* .upconming{
      background-color: rgb(10, 207, 207);
      border-radius: 12px;
      margin:23px auto;
      width:20%;
      min-height: 70vh;
} */
.container{
      min-height: 72vh;
      background-color:aquamarine;
      color: white;
      display: flex;
      margin: 23px auto;
      width:60%;
      border-radius: 12px;
      padding: 34px;
      background-image: url(bg.jpg);

      

      
}
.bottom{
      position: sticky;
      height: 130px;
      background-color:black;
      color:white;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

}
.icons{
      background-color: black;
      margin-top: 14px auto;
      width: 100%;
      height: 50px;
      font-size: 24px;
      align-content: center;
      text-align: center;
}
i{
      cursor: pointer;
      
}

#myProgressBar{
      width: 80vw;
      cursor: pointer;
}
.songList{
      display: block;
}
.songItem{
      height:50px;
      display: flex;
      background-color: white;
      color: black;
      width:80%;
      margin: 12px 0;
      justify-content:space-between;
      align-items: center;
      border-radius: 34px;
}
.songItem img{
      width: 43px;
      margin: 0 23px;
}
