*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.sidebar{
    background-color: cornflowerblue;
    display: block;
    position: fixed;
    height: 100%;
    width: 250px;
}
li a {
       padding-left: 30px;
       padding-top: 50;
      
}
.menu{
  padding-left: 50px;
}
h1{
    text-align: center;
}
ul{
    padding: 10px;
    list-style-type: none;
}
.sidebar li{
    padding-top: 60px;
    font-size: large;
}